@using System.Web.Mvc
@helper DropdownLinksButton(string buttonTitle, Func<MvcHtmlString, HelperResult> links)
{
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@buttonTitle <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @links(null)
        </ul>
    </div>
}