@using System.Web.Mvc
@using WebNoodle
@using WebNoodle.Reflection
@helper ActionFormLink(IObjectMethod om){
    <a class="nodeActionsPanelLink" href="#@om.DisplayName" id="@(om.Id())_actionlink">@om.DisplayName</a>
}