@using System.Web.Mvc.Html
@using FormFactory
@using WebNoodle
@using System.Linq
@model object
@if (Model.NodeMethods().Any())
{
    <div id="actions-@Model.Id()">
        <ul>
            @foreach (var nodeMethod in Model.NodeMethods())
            {
                <li style="display: block;"><a class="nodeActionsPanelLink" id="@(nodeMethod.Id())_actionlink">@nodeMethod.DisplayName</a> </li>
            }
        </ul>
    </div>

            foreach (var nodeMethod in Model.NodeMethods())
            {
    <div id="@(nodeMethod.Id())_actionlinkpanel" class="modal hide fade"   >
        @Html.Partial("WebNoodle/NodeActionForm", nodeMethod)
    </div>
            }
}
