@using Noodles.AspMvc.Views.Shared.Layout
@using Noodles.Models
@using Noodles.RequestHandling
<!-- begin /Layout/Topbar.LeftItems.cshtml -->
    @foreach (var item in Html.LayoutVm().TopBar.LeftItems)
    {
         <li @Html.Raw(item.Active ? "class=\"active\"": "") > @Html.Raw(item.Html) </li>
    }
<!-- end /Layout/Topbar.LeftItems.cshtml -->
