@using Noodles.AspMvc.Views.Shared.Layout

<!-- being /Layout/Topbar.RightItems.cshtml -->
    @foreach (var item in Html.LayoutVm().TopBar.RightItems)
    {
         <li @Html.Raw(item.Active ? "class=\"active\"": "") > @Html.Raw(item.Html) </li>
    }

<!-- end /Layout/Topbar.RightItems.cshtml -->
