@using Noodles.AspMvc.Models.Layout
<div class="navbar navbar-inverse @Html.Raw(Html.LayoutVm().TopBar.Fixed ? "navbar-fixed-top" : "")">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.Partial("Layout/TopBar.Brand")
            <div class="nav-collapse collapse">
                <ul class="nav">
                    @Html.Partial("Layout/TopBar.LeftItems")
                </ul>
                <ul class="nav pull-right">
                    @Html.Partial("Layout/TopBar.RightItems")
                </ul>
            </div>
        </div>
    </div>
</div>
