@using Noodles.Requests
<!-- begin /Layout/Topbar.LeftItems.cshml -->
@{
    
    <li><a href="/">Home</a></li>
    var root = ViewBag.Root as Resource;
    if (root != null)
    {
        foreach (var child in root.Children.Where(c => string.IsNullOrWhiteSpace(c.UiHint)))
        {
    <a href="@child.Url">@child.DisplayName</a>
        }
    }
}
<!-- end /Layout/Topbar.LeftItems.cshml -->
