@using Noodles.AspMvc.Models.Layout
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.Partial("Layout/Topbar.Brand")
          <div class="nav-collapse collapse">
              <ul class="nav">
                  @Html.Partial("Layout/Topbar.LeftItems")
              </ul>
              <ul class="nav pull-right">
                  @Html.Partial("Layout/Topbar.RightItems")
              </ul>
          </div>
        </div>
    </div>
</div>
