@using Noodles.AspMvc.Models.Layout

<!-- begin /Layout/Topbar.Brand.cshtml -->
@{
    <a href="/" class="navbar-brand">@(Html.LayoutVm().TopBar.Brand.Html)</a>
}
<!-- end /Layout/Topbar.Brand.cshtml -->
