@using Noodles.AspMvc.Models.Layout

<div class="navbar @Html.Raw(Html.LayoutVm().TopBar.Fixed ? "": "")">
    <div class="navbar-inner">
        <div class="container">
            @Html.Partial("Layout/Topbar.Brand")
            <div class="nav-collapse">
                <ul class="nav">
                    @Html.Partial("Layout/Topbar.LeftItems")
                </ul>
                <ul class="nav pull-right">
                    @Html.Partial("Layout/Topbar.RightItems")
                </ul>
            </div>
        </div>
    </div>
</div>
