@using Noodles.AspMvc.Views.Shared.Layout

<!-- being /Layout/Topbar.RightItems.cshtml -->
    @foreach (var item in Html.LayoutVm().TopBar.RightItems)
    {
         <li @Html.Raw(item.Active ? "active=\"active\"": "") ><a class="@item.Class" href="@item.Href">@item.Html</a></li>
    }

<!-- end /Layout/Topbar.RightItems.cshtml -->
