@using Noodles.AspMvc.Views.Shared.Layout
@using Noodles.Models
@using Noodles.RequestHandling
<!-- begin /Layout/Topbar.LeftItems.cshtml -->
    @foreach (var item in Html.LayoutVm().TopBar.LeftItems)
    {
         <li @Html.Raw(item.Active ? "class=\"active\"": "") ><a class="@item.Class" href="@item.Href">@item.Html</a></li>
    }
<!-- end /Layout/Topbar.LeftItems.cshtml -->
