@using Noodles.AspMvc.Models.Layout
<div class="navbar navbar-inverse @Html.Raw(Html.LayoutVm().TopBar.Fixed ? "navbar-fixed-top" : "")">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <div class="nav-collapse collapse">
                <ul class="nav">
                    
                </ul>
                <ul class="nav pull-right">
                    @Html.Partial("Layout/TopBar.RightItems")
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      @Html.Partial("Layout/TopBar.Brand")
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        @Html.Partial("Layout/TopBar.LeftItems")
      </ul>
    </nav>
  </div>
</header>