.inline-children > * {
    display: inline-block;
}

/* Make setter forms inline*/
[data-node-getter] > * {
    display: inline-block;
    white-space: nowrap;
}

/* Make setter forms inline*/
[data-node-setter] > form > * {
    display: inline-block;
}
[data-node-setter] > * {
    display: inline-block;
}
[data-node-setter] > .hide-setter {
    position: relative;
}

[data-node-setter] > form > button {
    top: -4px;
    position: relative;
}

/* Make setter forms initially invisible*/
/* Make setter forms inline*/
[data-node-setter]{
    display: none;
}


/* reduce size of elements in tables*/
td > div[data-node-getter] input[readonly] {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
}