@* Generator: MvcHelper *@
@using System.Web.Mvc
@helper DropdownLinksButton(string buttonTitle, Func<MvcHtmlString, HelperResult> links) { @DropdownLinksButton(buttonTitle, links, null)}
@helper DropdownLinksButton(string buttonTitle, Func<MvcHtmlString, HelperResult> links, string additionalClasses)
{
    <div class="btn-group">
        <a class="btn dropdown-toggle @(additionalClasses ?? "")" data-toggle="dropdown" href="#">@buttonTitle <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @links(null)
        </ul>
    </div>
}