@using System.Web.Mvc.Html
@using WebNoodle
@model INode
@if (Model.NodeMethods().Any())
{
    <a href="#loadactions" class="nodeActionsLink" data-nodepath="@Model.Path" >(edit)</a>
}
@Html.Partial("WebNoodle/NodeActionsLinkScript")
