@using System.Web.Mvc.Html
@using FormFactory
@using WebNoodle
@using System.Linq
@model INode
@if (Model.NodeMethods().Any())
{
    <div id="actions-@Model.Id">
        <ul>
            @foreach (var action in Model.NodeMethods())
            {
                <li style="display: block;"><a class="nodeActionsPanelLink" id="@(Model.Id)__@(action.Name)_actionlink">@action.DisplayName</a> </li>
            }
        </ul>
    </div>

            foreach (var command in Model.NodeMethods())
            {
    <div id="@(Model.Id)__@(command.Name)_actionlinkpanel" class="modal hide fade"   >
        @Html.Partial("WebNoodle/NodeActionForm", command)
    </div>
            }
}
