@using WebNoodle
@using System.Linq
@using WebNoodle.Helpers
@model object
@if (Model.NodeMethods().Any())
{
    <div id="actions-@Model.Id()">
        <ul>
            @foreach (var nodeMethod in Model.NodeMethods())
            {
                <li>@Noodles.NodeActionsLink(nodeMethod)</li>
            }
        </ul>
    </div>
}
