@using System.Web.Mvc.Html
@using FormFactory
@using WebNoodle
@using System.Linq
@model object
@if (Model.NodeMethods().Any())
{
    <div id="actions-@Model.Id()">
        <ul>
            @foreach (var nodeMethod in Model.NodeMethods())
            {
                <li>@Html.Partial("WebNoodle/NodeAction", nodeMethod)</li>
            }
        </ul>
    </div>
}
