@using System.Web.Mvc
@using System.Web.Mvc.Html
@using FormFactory
@using WebNoodle
@using WebNoodle.Helpers
<form action="@WebNoodle.PathExtension.Path(Model.Target)?action=@Model.Name" method="post" enctype="multipart/form-data" encoding="multipart/form-data">

@if (Html.HasErrors(""))
{
    <div class="alert alert-error">
        @Html.AllValidationMessages("")
    </div>
}
@if (Context.Request.IsAjaxRequest())
{
 @Html.AntiForgeryToken()
}
@foreach (var parameter in Model.Parameters)
{
 @Html.Partial("FormFactory/Form.Property", (object)WebNoodle.Helpers.ForFactoryHelperExtensions.ToPropertyVm(parameter, Html))
}