@using System.Web.Mvc
@using FormFactory
@using WebNoodle
@using WebNoodle.Helpers
<form action="@Model.Target.Path()?action=@Model.Name" method="post" enctype="multipart/form-data" encoding="multipart/form-data">
@if (Context.Request.IsAjaxRequest())
{
    @Html.AntiForgeryToken()
}
@Bootstrap.Modal(Model.DisplayName,
    @<p>
                            
        @foreach (var parameter in Model.Parameters)
        {
            Html.RenderPartial("FormFactory/Form.Property", parameter.ToPropertyVm(Html));
        }
    </p>,
    @<input type="submit" class="btn primary post-via-ajax" value="@Model.DisplayName" />
)
</form>
