@using System.Web.Mvc.Html
@using FormFactory
@model Noodles.Web.Models.NodeMethodSuccessVm
<div class="result alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <span class="message">Your request has been processed</span>
    @if (Model.Result != null)
    {
        <div class="result-content">
            @Html.BestPartial(Model.Result, prefix: "Success.")
        </div>
    }
</div>
@Html.Partial("Noodles/NodeMethod", Model.Method)