@using System.Web.Mvc.Html
@model Noodles.INodeMethod
<div class="result alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <span class="message">@(Model.SuccessMessage ?? "Your request has been processed")</span>
</div>
@Html.Partial("Noodles/NodeMethod", Model)