<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="FormFactory" version="1.2.279" targetFramework="net45" />
  <package id="Harden" version="1.2.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.2" targetFramework="net45" />
</packages>