<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="DelegateQueryable" version="1.2.6" targetFramework="net45" />
  <package id="Harden" version="1.2.7" targetFramework="net45" />
  <package id="Siggs" version="1.2.4" targetFramework="net45" />
  <package id="Walkies" version="1.2.38" targetFramework="net45" />
</packages>