@using Noodles
@using Noodles.AspMvc.Helpers
@using Noodles.AspMvc.Helpers.Icons
@using Noodles.AspMvc.Helpers
@using Noodles.AspMvc.Helpers.Icons
@model Noodles.Example.Domain.Task
 

@using Noodles
@using Noodles.AspMvc.Helpers
@using Noodles.AspMvc.Helpers
@model object
 
<div class="btn-group">
    <div class="btn">
        <a href="@Model.Url()">

            <i class="icon-@(Model.Completed ? IconNames.check : IconNames.check_empty)"></i>@Model.GetName()</a>
    </div>

    @{
        var actions = Model.Actions();
        if (actions.Any())
        {
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var method in actions)
            {
                <li>@NoodlesHelper.NodeMethodLink(method)</li>
            }
        </ul>
        }
    }
</div>


