@using Noodles
@using Noodles.AspMvc.Helpers
@using Noodles.AspMvc.Helpers.Icons
@model Noodles.Requests.Resource<Noodles.Example.Domain.Task>

<div class="btn-group">
    <div class="btn">
        <a href="@Model.Url">

            <i class="icon-@(Model.Target.Completed ? IconNames.check : IconNames.check_empty)"></i>@Model.GetDisplayName()</a>
    </div>

    @{
        var actions = Model.NodeMethods;
        if (actions.Any())
        {
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var method in actions)
            {
                <li>@NoodlesHelper.NodeMethodLink(method)</li>
            }
        </ul>
        }
    }
</div>


