@using Noodles
@using System.Linq
@using Noodles.Helpers
@using Noodles.AspMvc.Helpers
@model IGrouping<string, Noodles.Models.NodeProperty>
           
@foreach (var property in Model)
{
    <div class="noodles-property" data-fragment-id="noodle-object-property-@property.DisplayName">
        @Html.Partial("Noodles/NodeProperty.Object", property)
    </div>
}