@using System.Web.Mvc
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using FormFactory
@using FormFactory.Attributes
@using Noodles
@using Noodles.AspMvc.UiAttributes.Icons
@using Noodles.AspMvc.UiAttributes
@using Noodles.Helpers
@using Noodles.AspMvc.Helpers
@using Noodles.Models
@model Noodles.Models.NodeProperty

@{
    <div class="control-group">
        <label class="control-label">@Model.DisplayName</label>
        <div class="controls">
            @{
                var viewNameStart = ("Noodles/NodeProperty");
                var viewName = Html.BestViewName(Model.Value == null ? Model.ValueType : Model.Value.GetType(), viewNameStart + ".") ?? (viewNameStart + ".Object");
            }
            @Html.Partial(viewName, Model)
        </div>
    </div>
}