@using System.Web.Mvc.Html
@using FormFactory
@using Noodles.AspMvc.Helpers
@using Noodles.AspMvc.UiAttributes
@model Noodles.Models.NodeCollectionProperty
@{
    var resources = Model.Query(0, int.MaxValue).Items.ToArray();
    var data = resources.Select(i => new
    {
        Resource = i,
        Properties = i.NodeProperties.Where(p => p.CustomAttributes.OfType<NotInTable>().Any() == false)
            .ToDictionary(p => p.DisplayName, p => p)
    }).ToArray();

    var columns = data.SelectMany(d => d.Properties)
        .OrderBy(p => p.Value.Order).Select(k => k.Key).Distinct().ToArray();
    var showActions = resources.SelectMany(i => i.NodeMethods.ToArray()).Any();
}

@if (resources.Any())
{
    foreach (var item in resources)
    {
        <div>
            <a href="@item.Url">@item.DisplayName</a>
            @NoodlesHelper.NodeMethodsDropdown(item)
        </div>
    }
}
