@using System.Web.Mvc.Html
@using Noodles.AspMvc.Helpers
@using Noodles.AspMvc.UiAttributes
@model Noodles.Models.NodeCollectionProperty
@{
    var resources = Model.Query(0, int.MaxValue).Items.ToArray();
    var itemsPropertyName = Model.CustomAttributes.OfType<ShowAsListWithHeader>().First().ItemsPropertyName;
}

@if (resources.Any())
{
    foreach (var item in resources)
    {
    <div>
        <a href="@item.Url">@item.DisplayName</a>
        @NoodlesHelper.NodeMethodsDropdown(item)

        @{
            var itemsProperty = item.NodeProperties.FirstOrDefault(x => x.Name == itemsPropertyName);
            @Html.Partial("Noodles/NodeProperty-Table.Object", itemsProperty)
        }
    </div>
    }
}
