@using System.Web.Mvc
@using System.Web.Mvc.Html
@using FormFactory
@using Noodles.AspMvc.Helpers
@model Noodles.Models.NodeProperty
@{
    var data = Model.Items.ToArray().Select(i => new
    {
        Resource = i,
        Properties = i.NodeProperties.ToDictionary(p => p.DisplayName, p => p)
    }).ToArray();

    var columns = data.SelectMany(d => d.Properties).OrderBy(p => p.Value.Order).Select(k => k.Key).Distinct().ToArray();
}
<table class="table-bordered table-condensed table-striped">
    <thead>
        <tr>
            @foreach (var column in columns)
            {
                <th>@column</th>
            }
@{
    ViewBag.ShowActions = Model.Items.SelectMany(i => i.NodeMethods).Any();

    if(ViewBag.ShowActions)
    {
            <th>Actions</th>
    }
}

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            var view = Html.BestViewName(item.Type, "Noodles/TableRow.");
            if (view == null)
            {
                view = "Noodles/TableRow.Object";
            }
            @Html.Partial(view, item, new ViewDataDictionary() { { "Columns", columns }, {"ShowActions", ViewBag.ShowActions} })
        }
    </tbody>
</table>

