@using FormFactory
@using Noodles.AspMvc.Helpers
@model Noodles.Models.NodeProperty
<td data-node-property="@Model.Name">
    <div data-node-getter="@Model.Name">
        @{
            var viewName = Html.BestViewName(Model.Value == null ? Model.ValueType : Model.Value.GetType(), "FormFactory/Cell.") ?? "FormFactory.Cell.System.Object";
        }
        @Html.Partial(viewName, Model.ToPropertyVm(Html))
        @if (!Model.Readonly)
        {
            <a class="show-setter" href="#edit @Model.DisplayName"><i class="icon-edit "></i></a>
        }
    </div>
</td>
