@using FormFactory
@using Noodles.AspMvc.Helpers
@model Noodles.NodeProperty
@{
    var data = Model.Items.ToArray().Select(i => new
    {
        Resource = i, 
        Properties = i.NodeProperties.ToDictionary(p => p.DisplayName, p => p)
    }).ToArray();
    
    var columns = data.SelectMany(d => d.Properties).OrderBy(p => p.Value.Order).Select(k => k.Key).Distinct().ToArray();
}
<table class="table-bordered table-condensed table-striped">
    <tr>
        @foreach (var column in columns)
        {
            <th>@column</th>
        }
        <th>Actions</th>
    </tr>
    @foreach (var item in data)
    {
        <tr>
            @foreach (var column in columns)
            {
                var property = item.Properties[column];
                if (property != null)
                {
                    var view = Html.BestViewName(property.PropertyType, "TableCell.");
                    if (view == null)
                    {
                        view = "Noodles/TableCell.Object";
                    }
                <td>@Html.Partial(view, property)</td>
                }
                else
                {
                <td></td>
                }
            }
            <td>@NoodlesHelper.NodeMethodsDropdown(item.Resource)</td>
        </tr>
    }
</table>

