<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jquery.datatables" version="1.9.3" />
  <package id="jquery.dataTables.columnFilter" version="1.4.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Mvc.JQuery.Datatables" version="1.2.25" />
  <package id="WebActivator" version="1.5.1" />
</packages>