@using System.Web.Mvc
@using Noodles.AspMvc.Helpers
@using Noodles.AspMvc.Models.Layout
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
    <script type="text/javascript" src="/scripts/turbolinks.js"></script>
    @Html.Raw(Html.LayoutVm().HeadBundle.Render())
</head>
<body>
    <div class="container">
        @Html.Partial("Noodles/Breadcrumb", (object) ViewBag.NoodleTarget)
        @RenderBody()
    </div>
</body>
</html>
