@using Noodles
@using Noodles.AspMvc.Helpers
@using Noodles.AspMvc.Helpers
@model object
 
<div class="btn-group">
    <div class="btn"><a href="@Model.Url()">@Model.GetName()</a></div>

    @{

        var actions = Model.Actions();
        if (actions.Any())
        {
  <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
  </button>
    <ul class="dropdown-menu">
        @foreach (var method in actions)
             {
                 <li>@NoodlesHelper.NodeMethodLink(method)</li>
        }
    </ul>
    }
    }
</div>
